<div class="row">
  <app-list-errors [errors]="errors"></app-list-errors>
  <form class="col l4 offset-l4 s12" [formGroup]="authForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <div class="row">
        <div class="input-field col s12" *ngIf="authType === 'register'">
          <input formControlName="username" class="form-control form-control-lg" type="text">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" *ngIf="authType === 'register'">
          <input formControlName="email" class="form-control form-control-lg" type="text">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" *ngIf="authType === 'login'">
          <input formControlName="identifier" class="form-control form-control-lg" type="text">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="password" class="form-control form-control-lg" type="password">
          <label for="password">Password</label>
        </div>
      </div>
    </fieldset>

    <button class="waves-effect waves-light btn right mt-2 mr-2 indigo" [disabled]="!authForm.valid" type="submit">
      <i class="material-icons right">arrow_forward</i>
      {{ title }}
    </button>
  </form>
</div>
