<div class="row" id="dash-card">
  <div class="col l12 m6 s12 xl3">
    <div class="card" id="storageCard">
      <div class="card-title">Kelurahan</div>
      <div class="card-icon"><i class="material-icons">map</i></div>
      <div class="card-data">{{totalArea }} Kelurahan</div>
      <hr />
      <div class="card-hint align-right"><a routerLink="/admin/area" class="waves-effect waves-light btn-flat "><i
            class="material-icons right">navigate_next</i>Selengkapnya</a>
      </div>
    </div>
  </div>
  <div class="col l12 m6 s12 xl3">
    <div class="card" id="loveCard">
      <div class="card-title">Rambu</div>
      <div class="card-icon"><i class="material-icons">directions</i></div>
      <div class="card-data">{{totalSigns }} Rambu</div>
      <hr />
      <div class="card-hint align-right"><a routerLink="/admin/sign" class="waves-effect waves-light btn-flat "><i
            class="material-icons right">navigate_next</i>Selengkapnya</a>
      </div>
    </div>
  </div>
  <div class="col l12 m6 s12 xl3">
    <div class="card" id="pizzaCard">
      <div class="card-title">Lokasi Rambu</div>
      <div class="card-icon"><i class="material-icons">place</i></div>
      <div class="card-data">{{totalSignLocations }} Lokasi</div>
      <hr />
      <div class="card-hint align-right"><a routerLink="/admin/sign-location" class="waves-effect waves-light btn-flat "><i
            class="material-icons right">navigate_next</i>Selengkapnya</a>
      </div>
    </div>
  </div>
  <div class="col l12 m6 s12 xl3">
    <div class="card" id="gameCard">
      <div class="card-title">Pengguna</div>
      <div class="card-icon"><i class="material-icons">account_circle</i></div>
      <div class="card-data">{{totalUsers}} Pengguna</div>
      <hr />
      <div class="card-hint align-right"><a routerLink="/admin/user" class="waves-effect waves-light btn-flat "><i
            class="material-icons right">navigate_next</i>Selengkapnya</a>
      </div>
    </div>
  </div>
</div>