<div class="navbar-bg"></div>
<nav class="navbar red darken-2 z-depth-0" *appShowAuthed="true">
  <div class="nav-wrapper">
    <ul class="right">
      <li class="nav-item" id="dropdown-user">
        <a class="btn-floating waves-effect waves-light btn-flat red darken-2"><i class="material-icons">account_circle</i></a>
        <mz-dropdown [id]="'menu-dropdown-user'" [align]="'right'" [constrainWidth]="false" [belowOrigin]="true"
          [hover]="true" [dropdownButtonId]="'dropdown-user'">
          <mz-dropdown-item><a>{{ currentUser.username }}</a></mz-dropdown-item>
          <mz-dropdown-divider></mz-dropdown-divider>
          <mz-dropdown-item><a (click)="logout()">Logout</a></mz-dropdown-item>
          <mz-dropdown-divider></mz-dropdown-divider>
        </mz-dropdown>
      </li>

    </ul>

  </div>
</nav>